<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Client Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <h2 style="text-align: center;">Hello</h2>
            </ion-card-header>
            
            <ion-card-subtitle style="text-align: center;">
              hello world this is big<br><br>
              <ion-text >
                234-543-878
              </ion-text>
            </ion-card-subtitle>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
